@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * {outline: 2px solid red;} */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #eee;
  font-family: Roboto, sans-serif;
}

.header {
  background: darkturquoise;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  padding: 0.6%;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right {
  margin-right: 14px;
}

.logo {
  border-radius: 60%;
  width: 46px;
  height: 46px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0; 
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  font-size: 20px;
}

.box-one {
  color: rgb(16, 170, 170);
  background-color: #1f2937;
  display: flex;
  align-items: center;
  padding: 3%;
  gap: 100px;
}

.main-text{
  font-size: large;
}

.main-duck {
  width: 95%;
  height: auto;
}

.box-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
}

.duck-box {
  /* display: flex; */
  justify-content: center;
  text-align: center;
  gap: 52px;
}

.duck {
  width: 150px;
  height: 150px;
}

.footer {
  background: darkgray;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  padding: 0.6%;
}